html
{
    padding: 0;
}

body
{
    font-family: 'Roboto', sans-serif;

    height: 100%;
    margin: 0;

    background-color: #d0d0d0;
}

#content
{
    position: relative;

    min-height: 100%;
}

#footer,
#header
{
    padding: 5px 0;

    color: white;
    background-color: #111;
}

#header
{
    height: 105px;
    margin-bottom: 55px;
}

#header a
{
    text-decoration: none;

    color: white;
}

#logo
{
    float: left;

    margin-left: 10%;
    padding: 5px;

    border-radius: 5px;
    background-color: white;
}

#footer
{
    position: absolute;
    bottom: 0;

    width: 100%;

    text-align: center;

    box-shadow: 0 -1px 0 #fa0;
}

#menu
{
    position: fixed;
    z-index: 3;
    top: 85px;

    width: 100%;
    margin-right: 10px;
    padding: 0;

    text-align: center;

    background-color: #111;
    box-shadow: 0 1px 0 #fa0;
}

#menu > nav > ul
{
    margin: 0;
    padding: 0;
}

#menu > nav > ul > li
{
    display: inline;

    list-style: none;
}

#menu > nav > ul > li > a
{
    display: inline-block;

    margin: 5px 10px;

    text-decoration: none;

    color: white;
}

#menu > nav > ul > li > a:hover,
a:hover
{
    color: #fa0;
}

#main
{
    max-width: 900px;
    margin: auto;
    padding: 0 10px;
    padding-bottom: 50px;
}

#form
{
    margin: 10px;
    padding: 10px;

    background-color: white;
    box-shadow: 5px 5px 5px #888;
}

#form > form > input,
#form > form > textarea
{
    margin: 5px;
}

.info
{
  position: absolute;
  right: 50px;
  top: 50px;
  font-size: 75%;
    /*display: none;*/
}

.article
{
    margin: 10px;
    padding: 10px;

    background-color: white;
    box-shadow: 5px 5px 5px #888;
}

.infoArt
{
    font-size: small;

    color: #696969;
}

.comment
{
    clear: both;

    padding-right: 10px;
    padding-left: 10px;

    border-top: 1px solid #696969;
}

.comment > div
{
    float: left;
}

.comment > form
{
    clear: both;
}

.foto
{
    width: 80px;
    height: 80px;
    margin: 10px;

    border: black solid 1px;
}

thead,
h2
{
    padding: 10px;

    color: #fa0;
    background-color: #111;
}

h2
{
    margin: 0;
}

tr:nth-child(even)
{
    background-color: #eee !important;
}

#deviceInfo
{
    margin: 10px;
    padding: 10px;

    color: #fa0;
    background-color: #111;
    box-shadow: 5px 5px 5px #888;
}

.centered
{
    text-align: center;
}

/*Fonts*/
@font-face
{
    font-family: 'Roboto';
    font-weight: 200;

    src: local(Roboto Thin), url('../fonts/roboto/Roboto-Thin.eot');
    src: url('../fonts/roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Thin.woff2') format('woff2'), url('../fonts/roboto/Roboto-Thin.woff') format('woff'), url('../fonts/roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 300;

    src: local(Roboto Light), url('../fonts/roboto/Roboto-Light.eot');
    src: url('../fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Light.woff2') format('woff2'), url('../fonts/roboto/Roboto-Light.woff') format('woff'), url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 400;

    src: local(Roboto Regular), url('../fonts/roboto/Roboto-Regular.eot');
    src: url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'), url('../fonts/roboto/Roboto-Regular.woff') format('woff'), url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 500;

    src: url('../fonts/roboto/Roboto-Medium.eot');
    src: url('../fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Medium.woff2') format('woff2'), url('../fonts/roboto/Roboto-Medium.woff') format('woff'), url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 700;

    src: url('../fonts/roboto/Roboto-Bold.eot');
    src: url('../fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'), url('../fonts/roboto/Roboto-Bold.woff') format('woff'), url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
}
