body{
    background-color:#D0D0D0;
}
#footer, #menu, #header{
    text-align: center;
    color: white;
    background-color: #111111;
    padding:5px;
}
.info{
    display: none;
}
.article {
    background-color:#FFFFFF;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px #888888;
}
#menu>nav>ul{
    margin: 5px;
    padding: 0px;
}
#menu>nav>ul>li {
    list-style: none;
    display: inline;
}
#menu>nav>ul>li>a {
    margin: 10px;
    color: white;
    text-decoration: none;
}
#log{
    text-align: center;
    width:400px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    box-shadow: 5px 5px 5px #888888;
}
.infoArt{
    color: grey;
    font-size: small;
}
.comment{
    padding-left:10px;
    padding-right:10px;
    border-top: 1px solid #696969;
}
#deviceInfo{
    color:#343131;
    background-color:#FFFFFF;
    margin: 15px;
    padding: 10px;
    box-shadow: 5px 5px 5px #888888;
}
h3{
    margin: 2px;
}
.centered{
    text-align: center;
}